$color-main:#FEF9F0;
$color-secondary: #761C1C;
$color-tertiary: #1F3864;
@font-face {
  font-family: 'toreadoreregular';
  src: url('fonts/toreadore-webfont.woff2') format('woff2'), url('fonts/toreadore-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gunplayregular';
  src: url('fonts/gunplay_rg-webfont.woff2') format('woff2'), url('fonts/gunplay_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 320px){
  h1{
    font-family: 'toreadoreregular', Impact, Charcoal, sans-serif;
    font-size: 36px;
    text-align: right;
    margin: 15px 20px;
    color: #FFFFFF;
    text-shadow: 2px 2px rgba(00,00,00, 0.5);
  }
  h2{
    margin:20px 25px;
    font-size: 26px;
    line-height: 35px;
  }
  h2, h3, h4, blockquote, button{
    font-family: 'gunplayregular', Impact, Charcoal, sans-serif;
  }
  blockquote, h3, button{
    font-size:22px;
  }
  h3, h4{
    margin:20px 25px;
    line-height: 35px;
  }
  h4{
    font-size: 18px;
  }
  body{
    font-family: Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: $color-main;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  p{
    margin:20px 30px;
    word-spacing: 8px;
    line-height: 22px;
  }
  blockquote p{
    line-height: 30px;
    margin: auto 10px;
  }
  footer{
    width: 100%;
    background-color: $color-secondary;
    color: #FFFFFF;
    margin-top: 40px;
  }
  .next{
    display: none;
  }
  .backgroundRed{
    width: 100%;
    background-color: $color-secondary;
    color: $color-main;
  }
  .info{
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-style: italic;
  }
  .FF{
    text-decoration: underline;
  }
  .link{
    text-decoration: underline;
    color: $color-secondary;
  }
  .carousel__prev, .carousel__next{
    padding: 30px;
    font-size: 30px;
    font-style: italic;
    border-radius: 4px;
    background-color: $color-main;
  }
  .carousel__prev:hover, .carousel__next:hover{
    background-color: $color-secondary;
    color: #FFFFFF;
  }
//nav
/* header */
  .header {
    background-color: $color-secondary;
    position: absolute;
    width: 100%;
    z-index: 3;
    border-bottom:3px solid $color-main;
  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: $color-secondary;
  }
  .header a{
    text-decoration: none;
  }
  .header li a {
    font-family: 'gunplayregular', Impact, Charcoal, sans-serif;
    font-size: 18px;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: $color-main;
  }
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: $color-tertiary;
  }
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  /* menu */
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  /* menu icon */
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  .header .menu-icon .navicon {
    background: $color-main;
    display: block;
    height: 4px;
    position: relative;
    transition: background .2s ease-out;
    width: 28px;
  }
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: $color-main;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .header .menu-icon .navicon:before {
    top: 10px;
  }
  .header .menu-icon .navicon:after {
    top: -10px;
  }
  /* menu btn */
  .header .menu-btn {
    display: none;
  }
  .header .menu-btn:checked ~ .menu {
    max-height: 100%;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
// Conspiracy drop downs
  .conspiracyDiv{
    margin: 50px 20px;
  }
  .clickable-heading {
    cursor: pointer;
    font-size: 18px;
    text-align: left;
    box-shadow: 0px 3px $color-tertiary;
    margin:6px;
    padding: 10px;
  }
  .clickable-heading:hover {
    color: $color-tertiary;
  }
  .conspiracyDiv ul li{
    font-size: 14px;
    line-height: 25px;
    word-spacing: 8px;
    margin: 20px 15px 20px -5px;
  }
  .fa-sort-down{
    float: right;
    margin-right: 5px;
  }
  .footerPar{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-bottom: 0;
  }
  .iconDiv {
    margin-left: 30px;
  }
//carousel
  .carousel__frame{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0;
  }
  .carousel__img{
    width: 100%;
    height: auto;
    background-size: cover;
    display: table;
    border-bottom-style: solid;
    border-bottom-color: $color-secondary;
    border-bottom-width: 10px;
    border-top-style: solid;
    border-top-color: $color-secondary;
    border-top-width: 10px;
  }
  .carousel__slides{
    display: block;
  }
  .carousel__item{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
  }
  .carousel__prev, .carousel__next{
    background-color: $color-main;
    padding: 12px;
    font-size: 1rem;
    position: absolute;
    top: 40%;
  }
  .carousel__prev{
    left: 1rem;
  }
  .carousel__next{
    right: 1rem;
  }
  .carousel__prev:focus, .carousel__next:focus {
    outline: none;
  }
//Images
  .mainImg{
    display: flex;
    flex-direction: column;
  }
  .smallImg{
    width: 100%;
    height: auto;
    margin-top: 3px;
  }
  .largePlaneRight, .largePlaneLeft, .fa-fighter-jet{
    display: none;
  }
  .fontAwesome{
    display: none;
  }
  .twoImg{
    display: flex;
    border-bottom-style: solid;
    border-bottom-color: $color-secondary;
    border-bottom-width: 10px;
    border-top-style: solid;
    border-top-color: $color-secondary;
    border-top-width: 10px;
  }
  .column{
    flex: 50%;
  }
  .pilots{
    display: block;
  }
  .redLine{
    width: 100%;
    //margin-top:-30px;
  }
  .icons{
    width: 30px;
    height: 30px;
    color: $color-main;
  }
//Lists
  ol li{
    margin: 20px auto;
  }
}
@media (min-width: 600px){
  body{
    font-size: 18px;
  }
  p {
    word-spacing: 10px;
    line-height: 26px;
  }
  h2{
    font-size: 30px;
  }
  h3, blockquote{
    font-size: 30px;
  }
  h4{
    font-size: 20px;
  }
  blockquote p{
    line-height: 40px;
  }
  // Conspiracy drop downs
  .clickable-heading {
    cursor: pointer;
    font-size: 25px;
    text-align: left;
    box-shadow: 0px 3px $color-tertiary;
    margin:6px;
    padding: 10px;
  }
  .conspiracyDiv ul li{
    font-size: 18px;
    line-height: 25px;
    word-spacing: 10px;
    margin: 20px 15px 20px -5px;
  }
}
@media (min-width: 768px){
  body{
    font-size: 20px;
  }
  h2, blockquote{
    font-size: 40px;
  }
  .textImg{
    margin-top: 20px;
  }
  .twoImg{
    border-top-width: 20px;
    border-bottom-width: 20px;
  }
  .twoText{
    display: flex;
  }
  .columnText{
    flex: 50%;
    margin: 30px 40px;
    display: inline-flex;
  }
  .fontAwesome{
    display: inline-flex;
  }
  .fa-fighter-jet{
    color: $color-secondary;
    font-size: 30px;
  }
  .icons{
    width:40px;
    height:40px;
  }
  p {
    word-spacing: 10px;
    line-height: 30px;
  }
  blockquote p{
    line-height: 55px;
  }
}
@media (min-width: 1024px){
  h1{
    font-size: 86px;
    text-align:center;
    left: 0;
    right:0;
    margin-top: 7%;
  }
  .container{
    display: grid;
  }
  .content, .content2{
    margin: auto 10%;
  }
  .headerDown{
    position: absolute;
    top:12%;
  }
  .content{
    margin: auto 30% auto 5%;
  }
  .twoText{
    margin: auto 30% auto 5%;
  }
  .content2{
    margin: auto 5% auto 30%;
  }
  body{
    margin: 0;
    padding: 0;
  }
//Conspiracy drop down
  .conspiracyDiv{
    margin-bottom: 40px;
    margin-left: 10%;
  }
  .clickable-heading {
    width: 80%;
  }
  .conspiracyDiv ul li{
    width: 80%;
  }
//Images
  .largePlaneRight{
    display: block;
    width: 60%;
    opacity: .2;
    position:absolute;
    -webkit-transform: rotate(35deg) translate(60%, -90%);
    transform: rotate(35deg) translate(60%, -90%);
  }
  .largePlaneLeft{
    display: block;
    width: 50%;
    opacity: .2;
    position:absolute;
    -webkit-transform: rotate(-35deg) translate(-25%, -140%);
    transform: rotate(-35deg) translate(-25%, -140%);
  }
  //carousel
  .carousel__frame{
    width: 60%;
    height: 60%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    margin-left: 7%;
    padding: 0;
  }
  .carousel__img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: table;
  }
  .carousel__slides{
    display: block;
  }
  .carousel__item{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
  }
  .carousel__prev, .carousel__next{
    font-size: 2rem;
    position: absolute;
  }
  .carousel__prev{
    left: 2rem;
  }
  .carousel__next{
    right: 2rem;
  }
  
//nav
  .header li {
    clear: none;
    display: inline-block;
    margin-right: 40px;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  //Lists
    .top{
      margin-top: 70px;
    }
  }
@media (min-width: 1600px){
  h1{
    font-size:115px;
  }
  header nav ul{
    font-size: 20px;
  }
  header nav ul li{
    font-size: 20px;
  }
}
